* {
  font-family: 'myriad pro', helvetica;
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}
div#wrap {
  -moz-box-shadow: 0px 0px 5px #888;
  -webkit-box-shadow: 0px 0px 5px #888;
  box-shadow: 0px 0px 5px #888;
  margin-left: 8%;
  padding-left: 2%;
  margin-right: 8%;
  padding-right: 2%;
  width: 80%;
  float: center;
}
.required{
  color: red;
}

div#header {
  height: 100px;
  padding: 5px;
  margin: auto;
}
div#title {
  float: left;
  width: 25%;
  font-size: 2.5em;
  padding-left: 1%;
  line-height: 100px;
}
div#global-settings {
  float: right;
  text-align: right;
  width: 40%;
}
div#global-settings div.stack {
  line-height: 50px;
  height: 50px;
}
div#global-settings div.setting-label {
  font-weight: bold;
  float: left;
  width: 30%;
}
div#global-settings div.setting {
  float: right;
  width: 70%;
}
div.main {
  float: left;
  width: 60%;
}
div.help {
  float: left;
  width: 35%;
}
div#footer {
  margin: auto;
  background-color: white;
  padding: 2%;
  font-size: 0.8em;
}
.hidden {
  display: none;
}
.note {
  font-style: italic;
  font-size: 0.8em;
  color: #111;
}
.clear {
  clear: both;
}
