* {
  font-family: 'myriad pro', helvetica;
  margin: 0;
  padding: 0;
  font-size: 0.99em;
}
body {
  background-color: white;
}
ul, li {
  display: inline;
}
p {
  margin: 10px 0;
}

div#wrap {
  -moz-box-shadow: 0px 0px 5px #888;
  -webkit-box-shadow: 0px 0px 5px #888;
  box-shadow: 0px 0px 5px #888;
  margin-left: 8%;
  padding-left: 2%;
  margin-right: 8%;
  padding-right: 2%;
  width: 80%; 
  float: center;
}
div#header {
  height: 90px;
  padding: 5px;
  line-height: 90px;
  margin: auto;
}
div#header-text {
  float: left;
  padding-left: 1%;
  width: 50%;
  font-size: 2.5em;
}
div#status {
  float: right:
  width: 20%;
  padding-right: 2%;
  text-align: right;
  margin: auto;
}
div#footer {
  margin: auto;
  background-color: white;
  padding: 2%;
  font-size: 0.8em;
}
.hidden {
  display: none;
}
.note {
  font-style: italic;
  font-size: 0.8em;
  color: #111;
}

.clear {
  clear: both;
}
