<div class='main'>
	<h2>Family Inheritance</h2>
  <i>Under Development.</i>
  <br/>
	<div>
	  <button id='refresh-boxes' type='submit'>
	    Refresh Boxes
	  </button>
    <br/><br/>
    Select mother:
    <select id='mother-select'>
      <option value="null">Not selected</option>
    </select>
    <br/><br/>
    Select father:
    <select id='father-select'>
      <option value="null">Not selected</option>
    </select>
    <br/><br/>
    Select child:
    <select id='child-select'>
      <option value="null">Not selected</option>
    </select>
    <br/><br/>
	  <button id='compute_mie' type='submit'>
	    Compute Mendelian Inheritance Errors
	  </button>
    <br/><br/>
    <div id='mie_results'></div>
	</div>
  <br/>
	
</div>

<div class='help'>
  <div id='help-family-help'>
    <h2>Family</h2>
  </div>
</div>

<br class='clear'>