<div class='main'>
	<h2>Family Inheritance</h2>
  <i>Under Development.</i>
  <br/>
	<div>
    Select the size of your family:
    <select id='family-size'>
      <option value="2">2</option>
      <option value="3">3</option>
      <!--<option value="4">4</option>-->
    </select>
    <br/><br/>
	  <button id='set_inheritance' type='submit'>
	    Load Parents
	  </button>
    <br/><br/>
    <div id='parent_init'>
    </div>
    <br/>
	  <button id='compute_inheritance' type='submit'>
	    Compute Inheritance
	  </button>
    <br/><br/>
    <div id='mie_results'></div>
	</div>
  <br/>
	
</div>

<div class='help'>
  <div id='help-family-help'>
    <h2>Family</h2>
  </div>
</div>

<br class='clear'>