<div class='main'>
	<h2>Height Prediction</h2>
  <h3>Choose Your Sex</h3>
  <div id='sex' class='setting'>
    <input type='radio' id='male' name='sex' />
    <label for='male' class='small-button'>Male</label>
    <input type='radio' id='female' name='sex'/>
    <label for='female' class='small-button'>Female</label>
    <span id='please-select-sex' title='Please Select Your Sex' class='required hidden'>
      Please select your sex.
    </span>
  </div>
  <div>
    <h3>Mother's Height</h3>
    <textarea id='mom-height-textarea' rows='1' cols='6'></textarea>
    <span id='mom_height_units' class='setting'>
        <input type='radio' id='mom_height_units_cm' name='mom_height_units' checked/>
        <label for='mom_height_units_cm' class='small-button'>cm</label>
        <input type='radio' id='mom_height_units_in' name='mom_height_units' />
        <label for='mom_height_units_in' class='small-button'>in</label>
    </span>
    <span id='please-enter-mom-height' title="Please Enter Your Mother's Height" class='required hidden'>
        Please enter your mother's adult height.
    </span>
  </div>
  <div>
    <h3>Father's Height</h3>
    <textarea id='dad-height-textarea' rows='1' cols='6'></textarea>
    <span id='dad_height_units' class='setting'>
        <input type='radio' id='dad_height_units_cm' name='dad_height_units' checked/>
        <label for='dad_height_units_cm' class='small-button'>cm</label>
        <input type='radio' id='dad_height_units_in' name='dad_height_units' />
        <label for='dad_height_units_in' class='small-button'>in</label>
    </span>
    <span id='please-enter-dad-height' title="Please Enter Your Father's Height" class='required hidden'>
        Please enter your father's adult height.
    </span>
  </div>
  <div>
    <h3>Your Actual Height</h3>
    <textarea id='height-textarea' rows='1' cols='6'></textarea>
    <span id='height_units' class='setting'>
        <input type='radio' id='height_units_cm' name='height_units' checked/>
        <label for='height_units_cm' class='small-button'>cm</label>
        <input type='radio' id='height_units_in' name='height_units' />
        <label for='height_units_in' class='small-button'>in</label>
    </span>
    <span id='please-enter-height' title="Please Enter Your Height" class='required hidden'>
        Please enter your height.
    </span>
  </div>
  
  <br/>
	<div>
	  <button id='height' type='submit' class='small-button'>
	    Predict My Height
	  </button>
		<button id='help-height' class='help-button small-button'>About Height</button>
    <div id='please-choose-another-population' title='Please Select Another Population' class='required hidden'>
      This exercise is not implemented for population: <span id='pop-error-box'></span>. Please choose another population.
    </div>
	</div>
	<div id='check-submit-height' class='dialog hidden' title='Submit?'>
	  Are you sure you want to submit your information?
	</div>
	<div id='submitted-height' class='dialog hidden' title='Submitted'>
	  Your height information has been submitted.
	</div>
	<br/>
	<table id='height-table' class='results-table hidden'>
	  <tr>
	    <th>Genetic</th>
      <th>Family</th>
      <th>Population</th>
      <th>Actual</th>
	  </tr>
	  <script id='height-template' type='text/template'>
		  <tr><td><%= genetic %> cm</td><td><%= family %> cm</td><td><%= population %> cm</td><td><%=  actual %> cm</td>
		</script>
	</table>
  <br/>
	<button id='submit-height' type='submit' class='small-button'>
	  Submit My Height Information
	</button>
  
  <div id='height-chart'>
  </div>
</div>

<div class='help'>
  <div id='help-height-help'>
    <h2>About Height Prediction</h2>
    Height is a classic example of a "missing heritability" trait:
    it is known to be associated with genetic factors (approximately 75% heritable),
    but thus far, association studies have only been able to
    <a href="http://www.nature.com/nature/journal/v467/n7317/full/nature09410.html">explain</a> ~20% of the heritability.
    <br><br>
    In this exercise, we will attempt to predict your height based on 145 SNPs and compare this to a similar prediction based on the height of your parents.
  </div>
</div>

<br class='clear'>