<div class='main'>
  <h2>Probability of Extreme Longevity</h2>
  <br/>
  Use at your own risk.
  <div>
    <button id='compute-longevity' type='submit'>
      Compute my Longevity Score
    </button>
  </div>
  
  <br />
  <br />

  <div id='longevity-chart'>
  </div>
  
  <table id='longevity-table' class='results-table hidden'>
    <tr>
      <th>dbSNP</th>
      <th>Alleles</th>
      <th>Genotype</th>
      <th>Imputed from</th>
      <th>R squared</th>
      <th>Odds ratio</th>
      <th>Running oods ratio</th>
      <th>Running probability (%)</th>
    </tr>
    <tr><td>Prior</td><td></td><td></td><td></td><td></td><td></td><td></td><td>50</td></tr>
    <script id='longevity-snp-template' type='text/template'>
      <tr>
        <td><%= dbsnp %></td>
        <td><%= alleles %></td>
        <td><%= genotype %></td>
        <td><%= imputed_from %></td>
        <td><%= r_squared %></td>
        <td><%= or %></td>
        <td><%= ror %></td>
        <td><%= rp %></td>
      </tr>
    </script>
  </table>
  
  <div class='hidden'>
    <br />
    <button id='submit-longevity'>
      Submit my information
    </button>
  </div>
  
  <dialog id='confirm-submit-longevity' title='Submit my information' class='dialog hidden'>
    Submit your information?
  </dialog>
  
  <dialog id='submitted-longevity' title='Thanks' class='dialog hidden'>
    <br />
    <strong>Submitted!</strong>
    <br />
  </dialog>
  
</div>

<div class='help'>
  <h2>Longevity</h2>
  Live to be 100!
</div>

<br class='clear' />