<div class='main'>
  <h2>Lookup</h2>
  <br/>
  <div id='lookup-accordion'>
	  <h3><a href='#'>Lookup for an exercise</a></h3>
	  <div> 
	    This section contains lookup shortcuts for some of the studies
	    we discuss in class.
	    <br />
	    <br />
	    <div id='exercises'>
			  <input type='radio' id='cad' name='radio' />
			  <label for='cad' class='small-button'>CAD SNPs (4/6, Euan Ashley)</label>
			  <br />
			  <input type='radio' id='ancestry' name='radio' />
			  <label for='ancestry' class='small-button'>Ancestry SNPs (4/13, Hua Tang)</label>
			  <br/>
			  <input type='radio' id='pgx' name='radio'/>
			  <label for='pgx' class='small-button'>Pharmacogenomic SNPs (4/20, Russ Altman)</label>
			  <br />
			  <input type='radio' id='selection' name='radio'/>
			  <label for='selection' class='small-button'>Selection SNPs (5/2)</label>
			  <br />
			  <input type='radio' id='diabetes' name='radio'/>
			  <label for='diabetes' class='small-button'>Diabetes SNPs (5/4, Atul Butte)</label>
			  <br />
			  <input type='radio' id='assimes' name='radio'/>
			  <label for='assimes' class='small-button'>MI and CAD SNPs (5/11, Themistocles Assimes)</label>
			  
			  <!--<br/>-->
			  <!--
			  <br/>
			  <input type='radio' id='longevity' name='radio'/>
			  <label for='longevity' class='small-button'>Longevity SNPs</label>
			  -->
			  <!--<input type='radio' id='Cardio' name='radio' />-->
			  <!--<label for='Cardio' class='small-button'>Cardiovascular SNPs (5/11, Tim Assimes)</label>-->
			  <!--<br/>-->
			  <!--<input type='radio' id='Narcolepsy' name='radio' />-->
			  <!--<label for='Narcolepsy' class='small-button'>Narcolepsy SNPs (5/25, Emmanuel Mignot)</label>-->
			  <!--<br/>-->
			  <!--<input type='radio' id='Aging' name='radio' />-->
			  <!--<label for='Aging' class='small-button'>Aging SNPs (6/1, Stuart Kimg</label>-->
			  <!--<br/>-->
			  <!--<input type='radio' id='Class' name='radio' />-->
			  <!--<label for='Class' class='small-button'>Class SNPs (6/1)</label>-->
			</div>
	    <br />
	    <button id='lookup-exercise' type='submit' class='small-button'>
	      Lookup SNPs for exercise
	    </button>
	  </div> <!-- Exercise. -->
	  <h3><a href='#'>Lookup by input or upload</a></h3>
    <div>
			<div class='left'>
				<h4>Enter SNPs to lookup (one per line)</h4>
			  <textarea id='lookup-snps-textarea' rows='5' cols='30'></textarea>
		  </div>
		  
		  <div class='right'>
		    <h4>Upload SNP file</h4>
		    <br />
		    <input id='lookup-file' type='file' name='file' />
		  </div>
		  
		  <div class='left clear-left'>
			  <button id='lookup-snps' type='submit' class='small-button'>
			    Lookup SNPs
			  </button>
		  </div>
		  <div class='right clear-right'>
		    <button id='lookup-by-file' type='submit' class='small-button'>
		      Lookup SNPs in File
		    </button>
		  </div>
		</div> <!-- Input or upload. -->

	</div> <!-- Accordion. -->
	
  <br />
	<button id='clear-snps' type='submit' class='small-button'>
    Clear Table
  </button>
  <button id='toggle-unknown-genotypes' type='submit' class='small-button'>
    Hide unknown genotypes
  </button>
	<button id='help-lookup' class='help-button small-button'>
	  About Lookup
	</button>
	
	<br />
	<br />
	
	<!-- Exercise tables and templates. -->
	<table id='cad-table' class='results-table hidden'>
	  <tr>
	    <th class='dbsnp'>dbSNP</th>
	    <th class='dbsnp'>Genotype</th>
	    <th class='risk_allele'>Risk</th>
	    <th class='risk_frequency'>Risk frequency</th>
	    <th class='genes'>Genes</th>
	    <th class='pvalue'>P-value</th>
	    <th class='odds_ratio'>OR</th>
      <th class='imputed'>Imputed From</th>
      <th class='rsq'>R<sup>2</sup></th>
	  </tr>
		<script id='cad-snp-template' type='text/template'>
		  <tr>
		    <td class='key'><%= dbsnp %></td>
		    <td class='value'><%= genotype %></td>
		    <td><%= comments.risk_allele %></td>
		    <td><%= comments.risk_frequency %></td>
		    <td><%= comments.genes %></td>
		    <td><%= comments.combined_p %></td>
		    <td><%= comments.combined_or %></td>
        <td class='imputed'><%= imputed_from %> <%= explain %></td>
        <td class='rsq'><%= r_squared %></td>
		  </tr>
		</script>
	</table>
	<table id='assimes-table' class='results-table hidden'>
	  <tr>
	    <th class='dbsnp'>dbSNP</th>
	    <th class='dbsnp'>Genotype</th>
	    <th class='risk_allele'>Risk</th>
	    <th class='risk_freq'>Risk frequency</th>
	    <th class='genes'>Genes</th>
	    <th class='odds_ratio'>OR</th>
      <th class='imputed'>Imputed From</th>
      <th class='rsq'>R<sup>2</sup></th>
	  </tr>
		<script id='assimes-snp-template' type='text/template'>
		  <tr>
		    <td class='key'><%= dbsnp %></td>
		    <td class='value'><%= genotype %></td>
		    <td><%= comments.risk_allele %></td>
		    <td><%= comments.risk_freq %></td>
		    <td><%= comments.genes %></td>
		    <td><%= comments.or %></td>
        <td class='imputed'><%= imputed_from %> <%= explain %></td>
        <td class='rsq'><%= r_squared %></td>
		  </tr>
		</script>
	</table>
	
	<table id='pgx-table' class='results-table hidden'>
	  <tr>
	    <th class='dbsnp'>dbSNP</th>
	    <th class='dbsnp'>Genotype</th>
	    <th class='dbsnp'>Gene</th>
            <th class='imputed'>Imputed From</th>
	     <th class='rsq'>R<sup>2</sup></th>
	  </tr>
		<script id='pgx-snp-template' type='text/template'>
		  <tr>
		    <td class='key'><%= dbsnp %></td>
		    <td class='value'><%= genotype %></td>
		    <td class='gene'><%= comments.gene %></td>
		    <td class='imputed'><%= imputed_from %> <%= explain %></td>
		    <td class='rsq'><%= r_squared %></td>
		  </tr>
		</script>
	</table>
	
	<table id='ancestry-table' class='results-table hidden'>
	  <tr>
	    <th class='dbsnp'>dbSNP</th>
	    <th class='dbsnp'>Genotype</th>
	    <th class='euro_allele'>European allele</th>
	    <th class='azn_allele'>East Asian allele</th>
      <th class='imputed'>Imputed From</th>
      <th class='rsq'>R<sup>2</sup></th>
	  </tr>
		<script id='ancestry-snp-template' type='text/template'>
		  <tr>
		    <td class='key'><%= dbsnp %></td>
		    <td class='value'><%= genotype %></td>
		    <td><%= comments.euro_allele %></td>
		    <td><%= comments.azn_allele %></td>
        <td class='imputed'><%= imputed_from %> <%= explain %></td>
        <td class='rsq'><%= r_squared %></td>
		  </tr>
		</script>
	</table>
	
	<table id='longevity-table' class='results-table hidden'>
	  <tr>
	    <th class='dbsnp'>dbSNP</th>
	    <th class='dbsnp'>Genotype</th>
	    <th class='dbsnp'>Reference</th>
	    <th>Genes</th>
	    <th>EL/normal</th>
	    <th>Bayes factor</th>
      <th class='imputed'>Imputed from</th>
      <th class='rsq'>R<sup>2</sup></th>
	  </tr>
		<script id='longevity-snp-template' type='text/template'>
		  <tr>
		    <td class='key'><%= dbsnp %></td>
		    <td class='value'><%= genotype %></td>
		    <td><%= comments.genes %></td>
		    <td><%= comments.alleles %></td>
		    <td><%= comments.log10_bf %></td>
        <td class='imputed'><%= imputed_from %> <%= explain %></td>
        <td class='rsq'><%= r_squared %></td>
		  </tr>
		</script>
	</table>
	
	<table id='diabetes-table' class='results-table hidden'>
	  <tr>
	    <th class='dbsnp'>dbSNP</th>
	    <th class='dbsnp'>Genotype</th>
	    <th>Genes</th>
	    <th>Risk allele</th>
	    <th>Odds ratio</th>
	    <th>Source</th>
      <th class='imputed'>Imputed from</th>
      <th class='rsq'>R<sup>2</sup></th>
	  </tr>
		<script id='diabetes-snp-template' type='text/template'>
		  <tr>
		    <td class='key'><%= dbsnp %></td>
		    <td class='value'><%= genotype %></td>
		    <td><%= comments.genes %></td>
		    <td><%= comments.risk %></td>
		    <td><%= comments.or %></td>
		    <td><%= comments.source %></td>
        <td class='imputed'><%= imputed_from %> <%= explain %></td>
        <td class='rsq'><%= r_squared %></td>
		  </tr>
		</script>
	</table>
	
	<table id='selection-table' class='results-table hidden'>
	  <tr>
	    <th class='dbsnp'>dbSNP</th>
	    <th class='dbsnp'>Genotype</th>
	    <th>Ancestral allele</th>
	    <th>Selected allele</th>
	    <th>Genes</th>
      <th class='imputed'>Imputed from</th>
      <th class='rsq'>R<sup>2</sup></th>
	  </tr>
		<script id='selection-snp-template' type='text/template'>
		  <tr>
		    <td><%= dbsnp %></td>
		    <td><%= genotype %></td>
		    <td><%= comments.ancestral %></td>
		    <td><%= comments.selected %></td>
		    <td><%= comments.genes %></td>
        <td class='imputed'><%= imputed_from %> <%= explain %></td>
        <td class='rsq'><%= r_squared %></td>
		  </tr>
		</script>
	</table>
	
	<div id='submit-exercise-area' class='hidden'>
		<button id='submit-exercise' class='small-button'>Submit my information</button>
		<dialog id='confirm-submit-exercise' title='Confirm submission' class='dialog hidden'>
		  Are you sure you want to submit your information?
		</dialog>
  </div>
	
	<!-- General lookup template. -->
	<table id='lookup-snps-table' class='results-table hidden'>
	  <tr>
	    <th class='dbsnp'>dbSNP ID</th><th class='genotype'>Genotype</th>
      <th class='reference details'>Reference</th><th class='refallele_freq details'>Reference<br/>Frequency</th>
      <th class='other details'>Alternate<br/>Allele</th><th class='otherallele_freq details'>Alternate<br/>Frequency</th>
      <th class='chrom details'>Chromosome</th><th class='position details'>Position</th>
      <th class='imputed'>Imputed From</th><th class='rsq'>R<sup>2</sup></th><th class='comments'>Comments</th>
	  </tr>
	  <script id='lookup-snp-template' type='text/template'>
		  <tr>
		    <td class='dbsnp key'><%= dbsnp %></td>
        <td class='genotype value'><%= genotype %></td>
        <td class='reference details'><%= reference %></td>
        <td class='refallele_freq details'><%= refallele_freq %></td>
        <td class='other details'><%= otherallele %></td>
        <td class='other_freq details'><%= otherallele_freq %></td>
        <td class='chrom details'><%= chrom %></td>
        <td class='position details'><%= end %></td>
        <td class='imputed'><%= imputed_from %> </td>
        <td class='rsq'><%= r_squared %></td>
        <td><%= comments %></td>
		  </tr>
		</script>
	</table>
	
  <br/ >
  
  <div class='submit'>
    <button id='submit-snps' type='submit'>
      Submit my SNPs
    </button>
  </div>
  
  <!-- Submission buttons. -->
  <div id='too-many-snps' title='Too Many' class='dialog hidden'>
    You have entered too many SNPs. Your browser will not be able to display this many SNPs.
  </div>
  
  <br/>
  
  <!-- Lookup demo. -->
  <h2 class='link secondary-color' id='lookup-demo'>Lookup Demo</h2>
  <div class='hidden'>
    <h3>Enter SNPs to delete (one per line)</h3>
      <div>
        <textarea id='delete-snps-textarea' rows='3' cols='15'></textarea>
        <br/>
        <button id='delete-snps' type='submit' class='small-button'>
          Remove SNPs from Genome
        </button>
      </div>
    <br />
  </div>
  
  <br/>
  
  <!-- BED file. -->
  <h2 class='link secondary-color' id='lookup-bed'>Output in Bed Format</h2>
  <div class='hidden'>
    Copy this text into the <a href="http://genome.ucsc.edu">UCSC Genome Browser</a> to visualize your data.
    <script id='bed-file-template' type='text/template'>chr<%= chrom %> <%= start %> <%= end %> rs<%= dbsnp %>(<%= genotype %>) 0 + <%= start %> <%= end %> <%= color %>
</script>
    <textarea id='bed-file-text' rows=5 cols=70>track name=myGenome description="Personal Genotype" visibility=3 itemRgb="On"
</textarea>
  </div>
  <br/>
</div>

<div class='help'>
  <div id='help-lookup-help'>
    <h2>Lookup</h2>
    <br>
    This utility looks up SNPs in your personal genotype file.
    <br><br>
    If the SNP is not found in your file, the utility attempts to impute the SNP using Hapmap data.
    This requires:
    <li>
      The SNP you request to be found in the Hapmap population requested
    </li>
    <li>
      Another SNP (the "linked" SNP) in high LD (r<sup>2</sup> &#x2265 cutoff) with the requested SNP.
    </li>
    <li>
      This linked SNP to be found both in Hapmap and your own data
    </li>
    <br>
    <h3>Process</h3>
    First, we find a SNP that is in high linkage with the requested SNP. This SNP must be found both in Hapmap and your data.
    <br/><br/>
    The Hapmap project has determined the "phase" of these SNPs, which means a correspondence can be determined between alleles.
    Thus, the presence of one allele at the first SNP indicates the presence of the allele with the same phase of the other SNP.
    <br/><br/>
    Click the "explain" button on an imputed SNP to see an example.
    If "??" is displayed, the SNP could not be imputed with the data given and population selected.
    <br/>
    <br/>
  </div>
  <div class='description'>
    <div>
      <div id='explain-lookup-top'>
        <script id='explain-lookup-top-template' type='text/template'>
          &nbsp;&nbsp;&nbsp;
          <%= dbsnp %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= imp_dbsnp %>
          <br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= genotype_0 %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= imp_0 %>
        </script>
      </div>
        ------|-------------------------|-------
        <br/>
        ------|-------------------------|-------
      <div id='explain-lookup-bottom'>
        <script id='explain-lookup-bottom-template' type='text/template'>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= genotype_1 %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= imp_1 %>
        </script>
      </div>
    </div>
  </div>
</div>
<br class='clear' />
