<div class='main'>
  <div id='lookup-accordion'>
    <h3><a href='#'>Lookup by direct input</a></h3>
    <div>
			<h2>Enter SNPs to lookup (one per line)</h2>
			<div>
			  <textarea id='lookup-snps-textarea' rows='5' cols='30'></textarea>
			  <br/>
			  <button id='lookup-snps' type='submit' class='small-button'>
			    Lookup SNPs
			  </button>
		  </div>
		</div>
		<h3><a href='#'>Lookup from file</a></h3>
	  <div> 
	    <input id='lookup-file' type='file' name='file' />
	    <br />
	    <br />
	    <button id='lookup-by-file' type='submit' class='small-button'>
	      Lookup SNPs in File
	    </button>
	  </div>
	</div>
  <br/>
  <h2 class='link secondary-color' id='lookup-demo'>Lookup Demo</h2>
  <div class='hidden'>
    <h3>Enter SNPs to delete (one per line)</h3>
      <div>
        <textarea id='delete-snps-textarea' rows='3' cols='15'></textarea>
        <br/>
        <button id='delete-snps' type='submit' class='small-button'>
          Remove SNPs from Genome
        </button>
      </div>
    <br />
  </div>
  <br/>
	<button id='clear-snps' type='submit' class='small-button'>
    Clear Table
  </button>
	<button id='help-lookup' class='help-button small-button'>About Lookup</button>
	<table id='lookup-snps-table' class='results-table hidden'>
	  <tr>
	    <th class='dbsnp'>dbSNP ID</th><th class='genotype'>Genotype</th>
      <th class='reference details'>Reference</th><th class='refallele_freq details'>Reference<br/>Frequency</th>
      <th class='other details'>Alternate<br/>Allele</th><th class='otherallele_freq details'>Alternate<br/>Frequency</th>
      <th class='chrom details'>Chromosome</th><th class='position details'>Position</th>
      <th class='imputed'>Imputed From</th><th class='rsq'>R<sup>2</sup></th><th class='comments'>Comments</th>
	  </tr>
	  <script id='lookup-snp-template' type='text/template'>
		  <tr>
		    <td class='dbsnp'><%= dbsnp %></td>
        <td class='genotype'><%= genotype %></td>
        <td class='reference details'><%= reference %></td>
        <td class='refallele_freq details'><%= refallele_freq %></td>
        <td class='other details'><%= otherallele %></td>
        <td class='other_freq details'><%= otherallele_freq %></td>
        <td class='chrom details'><%= chrom %></td>
        <td class='position details'><%= end %></td>
        <td class='imputed'><%= imputed_from %> <%= explain %></td>
        <td class='rsq'><%= r_squared %></td>
        <td class='comments'><%= comments %></td>
		  </tr>
		</script>
	</table>
  <br>
  <div class='submit'>
    <div>
      <span id='submit-button'>
        <button id='submit-snps' type='submit'>
          Submit my SNPs
        </button>
      </span>
      <span id='print-button'>
        <button id='print-snps' type='print'>
          Print my SNPs
        </button>
      </span>
    </div>
  </div>
  <div id='confirm-submit-snps' title='Submit your SNPs?' class='hidden'>
    Are you sure you want to submit these SNPs?
  </div>
  <div id='thank-you' title='Thank You' class='hidden'>
    Your SNPs have been submitted.
  </div>
  <div id='nothing' title='Oops' class='hidden'>
    Nothing was submitted.
  </div>
  <br/>
  <h2 class='link secondary-color' id='lookup-bed'>Bed Format</h2>
  <div class='hidden'>
    Copy this text into the <a href="http://genome.ucsc.edu">UCSC Genome Browser</a> to visualize your data.
    <script id='bed-file-template' type='text/template'>chr<%= chrom %> <%= start %> <%= end %> rs<%= dbsnp %>(<%= genotype %>) 0 + <%= start %> <%= end %> <%= color %>
</script>
    <textarea id='bed-file-text' rows=5 cols=70>track name=myGenome description="Personal Genotype" visibility=3 itemRgb="On"
</textarea>
  </div>
  <br/>
</div>

<div class='help'>
  <div id='help-lookup-help'>
    <h2>Lookup</h2>
    <br>
    This utility looks up SNPs in your personal genotype file.
    <br><br>
    If the SNP is not found in your file, the utility attempts to impute the SNP using Hapmap data.
    This requires:
    <li>
      The SNP you request to be found in the Hapmap population requested
    </li>
    <li>
      Another SNP (the "linked" SNP) in high LD (r<sup>2</sup> &#x2265 0.7) with the requested SNP.
    </li>
    <li>
      This linked SNP to be found both in Hapmap and your own data
    </li>
    <br>
    <h3>Process</h3>
    First, we find a SNP that is in high linkage with the requested SNP. This SNP must be found both in Hapmap and your data.
    <br/><br/>
    The Hapmap project has determined the "phase" of these SNPs, which means a correspondence can be determined between alleles.
    Thus, the presence of one allele at the first SNP indicates the presence of the allele with the same phase of the other SNP.
    <br/><br/>
    Click the "explain" button on an imputed SNP to see an example.
    If "NA" is displayed, the SNP could not be imputed with the data given and population selected.
    <br/>
    <br/>
  </div>
  <div class='description'>
    <div>
      <div id='explain-lookup-top'>
        <script id='explain-lookup-top-template' type='text/template'>
          &nbsp;&nbsp;&nbsp;
          <%= dbsnp %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= imp_dbsnp %>
          <br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= genotype_0 %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= imp_0 %>
        </script>
      </div>
        ------|-------------------------|-------
        <br/>
        ------|-------------------------|-------
      <div id='explain-lookup-bottom'>
        <script id='explain-lookup-bottom-template' type='text/template'>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= genotype_1 %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= imp_1 %>
        </script>
      </div>
    </div>
  </div>
</div>
<br class='clear' />
