<div class='main'>
  <div id='lookup-accordion'>
    <h3><a href='#'>Lookup by direct input</a></h3>
    <div>
			<h2>Enter SNPs to lookup (one per line)</h2>
			<div>
			  <textarea id='lookup-snps-textarea' rows='5' cols='30'>7407
7417
6684820</textarea>
			  <br/>
			  <button id='lookup-snps' type='submit' class='small-button'>
			    Lookup SNPs
			  </button>
		  </div>
		</div>
		<h3><a href='#'>Lookup from file</a></h3>
	  <div> 
	    <input id='lookup-file' type='file' name='file' />
	    <br />
	    <br />
	    <button id='lookup-by-file' type='submit' class='small-button'>
	      Lookup SNPs in File
	    </button>
	  </div>
	</div>
	
	<br />
	<button id='clear-snps' type='submit' class='small-button'>
    Clear Table
  </button>
	<button id='help-lookup' class='help-button small-button'>About Lookup</button>
	
	<table id='lookup-snps-table' class='hidden'>
	  <tr>
	    <th>dbSNP ID</th><th>Genotype</th><th>Imputed From</th><th>R-Squared</th><th>Comments</th>
	  </tr>
	  <script id='lookup-snp-template' type='text/template'>
		  <tr>
		    <td><%= dbsnp %></td>
			  <td><%= genotype %></td>
			  <td><%= imputed_from %></td>
			  <td><%= r_squared %></td>
			  <td><%= r_squared %></td>
			</tr>
		</script>
	</table>
</div>

<div class='help'>
  <div id='help-lookup-help'>
    <h2>Lookup is...</h2>
  </div>
</div>

<br class='clear' />
