<h2>Explore your genome</h2>
<li>
  Load your genome file (upper-right corner) and choose some of the analyses above. Currently, only raw data files from 23andme and Lumigenix (<b>unzipped</b>) are supported.
</li>
<li>
Sample genotype files (and a description of the individuals) can be found <a href="http://stanford.edu/class/gene210/files/data/Genomes/">here</a>.
</li>
<li>
A detailed description of the website design and some of the modules can be found in our
<a href="http://psb.stanford.edu/psb-online/proceedings/psb12/karczewski.pdf">PSB paper</a>
as well as in blog posts <a href="http://konradjkarczewski.com/2011/06/14/genome-interpretation-2-0/">here</a>
and <a href="http://konradjkarczewski.com/2011/06/23/more-on-interpretome/">here</a>.
</li>
<br/>
<h3>Interpretome is intended for <i>educational and research purposes only</i>.</h3>
<p>
  No information should be considered diagnostic and as with any genetic testing service, the interpretation is not regulated by the FDA.
  We assume no responsibility for any injury or damage to persons or property arising out of or related to any use of interpretome annotations
  or for any errors or omissions: consult your physician with any medical concerns.
  We retain copyright to the materials herein.
  By using this website, you agree that you accept these terms and are aware of the risks and benefits of genome interpretation.
  For more information, please read the full
<span class='link' onclick='$("#terms").dialog({
  modal: true, width: "80%", buttons: {
    "Close": function() {$(this).dialog("close");}
  }});'>Terms and Conditions</span>.
</p>
<br/>
<h3>How are my data kept private?</h3>
<p>
  Your genome will not be sent to any server, it remains on your computer.
  This website will make requests to a database that only contain "rsid" (without genotypes) and "population" (self-reported in the top-right) information.
  At no point will any genotypes be sent across the wires (all computation will be done in the browser).
  Some exercises may have an option to submit personal information, including genotypes or results of analyses, which will be anonymously stored on a secure server.
</p>
<br/>
<div id='not-compatible' class='hidden' style='text-align: center;>'><span style='padding: 10px; color: #FFFFFF; background-color: #FF2222'><strong>Your browser is NOT compatible with the Interpretome! Please use one of the supported browsers</strong></span><br/><br/></div>
<h4>Compatibility</h4>
<p>
  This website requires an HTML5 compatible browser, including current versions of:
  <li>
    <a href="http://www.google.com/chrome">Google Chrome</a> (&#x2265 6.0), the <i>preferred</i> browser
  </li>
  <li>
    <a href="http://www.mozilla.com">Mozilla Firefox</a> (&#x2265 4.0)
  </li>
  <li>
    <a href="http://www.apple.com/safari/">Safari</a> (&#x2265 6.0)
  </li>
  <li>
    <a href="http://www.rockmelt.com/">RockMelt</a>
  </li>
</p>
<br/>
<h4>Citation</h4>
To cite the Interpretome system, please provide the URL (www.interpretome.com) and cite our PSB paper:
<li>
Karczewski, K. J. et al. Interpretome: a freely available, modular, and secure personal genome interpretation engine. Pac Symp Biocomput 339-350 (2012).
<a href="http://www.ncbi.nlm.nih.gov/pubmed/22174289">Pubmed</a>
<a href="http://psb.stanford.edu/psb-online/proceedings/psb12/karczewski.pdf">Full text</a>
</li>
<br/>
<h4>Happy Exploring!</h4>
-The interpreteam
(<span class='link' onclick='$("#about").dialog({
  modal: true, width: "60%", height: 400, buttons: {
    "Close": function() {$(this).dialog("close");}
  }});'>About us</span>)
<br/>
<br/>
<h4>Frequently Asked Questions</h4>
<h5>Can I receive a health report?</h5>
<p>No, there is little to no health interpretation on Interpretome, and we intentionally do not provide a comprehensive analysis like 23andMe did.
You are free to explore the website, but note that the site is intended for educational and research purposes only. See disclaimer above.</p>
<h5>How do I use the site? How much does it cost?</h5>
<p>The site is free and is meant to be an interactive exploration of your genetic data.
Click the "Begin Exploring!" button in the top right and load your genome data.
Note that no data gets sent to our servers, which means you can be assured of privacy, but also means you must load your data every time you use the site.</p>
<h5>I'm considering using the site, but want to know what kind of information I might receive before I get or load my data.</h5>
<p>
You can download sample genotype files (anonymous patients) <a href="http://stanford.edu/class/gene210/files/data/Genomes/">here</a>.
Download one of the *.txt files, and then return to the page, click "Begin Exploring!", load the txt file in, and then explore the tabs of the site.
</p>
<h5>Do you support FTDNA data?</h5>
<p>No, unfortunately because of the different set of SNPs they test, FTDNA data are not supported.
While one could attempt to convert the data manually, this is not recommended as the results will be unstable.
</p>
<h5>Any questions, comments, or concerns that are not answered here?</h5>
<p>Please <a href='mailto:help@interpretome.com'>email us</a>.</p>
<div id='about' title='About the Interpreteam' class='dialog hidden'>
  The Interpretome platform was developed for the Stanford University course on
  <a href="http://gene210.stanford.edu">Personalized Medicine and Genomics</a>,
  run by Stuart Kim.
  We thank a number of contributors, as well as the students of the course for valuable feedback.
  <br/>
  <br/>
  <div class='multicolumn'>
    <h4>Founding Team</h4>
    <p>
    <li>
      <a href="http://www.konradjkarczewski.com">Konrad Karczewski</a>
    </li>
    <li>
      <a href="http://www.stanford.edu/~rpt/">Robert Tirrell</a>
    </li>
    <li>
      <a href="http://www.tatonetti.com">Nicholas Tatonetti</a>
    </li>
    <li>
      <a href='http://cmgm.stanford.edu/~kimlab/'>Stuart Kim</a>
    </li>
    </p>
    <br/>
    <h4>Contributors</h4>
    <p>
    <li>
      <a href='http://www.ofworldsandwoes.com/rm-rf'>Pablo Cordero</a>
    </li>
    <li>
      <a href="http://www.joeldudley.com">Joel Dudley</a>
    </li>
    <li>
      <a href="http://www.stanford.edu/~noahz/">Noah Zimmerman</a>
    </li>
    <li>
      <a href="http://med.stanford.edu/profiles/Keyan_Salari/">Keyan Salari</a>
    </li>
    </p>
  </div>
  <br/>
</div>
