<h2>Explore your genome</h2>
<p>
  Load your genome file and choose some of the analyses above.
</p>
<br />
<h4>Privacy</h4>
<p>
  Your genome will not be sent to any server, it remains on your computer.
  This website will make requests to a database that only contain "rsid" and "population" information.
  At no point will any genotypes be sent across the wires (all computation will be done in the browser).
</p>
<br>
<p>
  Some exercises may request you to enter personal information, including genotypes or results of analyses.
  Entry of your data is not required and all information will be stored on a secure server and deleted in a timely fashion.
  However, there is a theoretical possibility that this information can be intercepted and misused.
</p>
<br/>
<h4>Compatibility</h4>
<p>
  This website is optimized for HTML5 compatible browsers, including current versions of:
  <li>
    <a href="http://www.google.com/chrome">Google Chrome</a>
  </li>
  <li>
    <a href="http://www.mozilla.com">Mozilla Firefox 4</a>
  </li>
  <li>
    (<a href="http://www.apple.com">Safari</a> coming soon!)
  </li>
  <!--
  <li>
    and possibly <a href="http://ie.microsoft.com/testdrive">Internet Explorer 9 (beta)</a>, but we can't guarantee it.
  </li>
  -->
</p>
<br/>
<h4>Happy Exploring!</h4>
<p>
  -The TA team:
  <br/>
  <li>
    <a href="http://www.konradjkarczewski.com">Konrad Karczewski</a>
  </li>
  <li>
    <a href="http://www.tatonetti.com">Nicholas Tatonetti</a>
  </li>
  <li>
    <a href="http://www.stanford.edu/~rpt/">Robert Tirrell</a>
  </li>
  <li>
    <a href="http://www.stanford.edu/~noahz/">Noah Zimmerman</a>
  </li>
  <br/>
  <a href='mailto:gene210-spr1011-staff@lists.stanford.edu'>Email us</a> with questions, comments, or concerns.
</p>

<div id='about-you' class='hidden'>
  <h2>About You</h2>
  <p>
  </p>
  <div>
    <table id='chromosomes-table'>
      <tr>
        <th>Chromosome</th><th>SNPs</th>
      </tr>
    </table>
  </div>
</div>