<div class='main'>
  <h2>Pharmacogenomics of Warfarin Dosing</h2>
  <br/>
  <div>
    <h3>Age</h3>
    <div class='description'>
      Vitamin K absorption decreases as you age. Older individuals will require less warfarin.
    </div>
    <textarea id='age-textarea' rows='1' cols='6'></textarea>
    <span id='please-enter-age' title='Please Enter Your Age' class='required hidden'>
      Please enter your age.
    </span>
    
    <h3>Height</h3>
    <div class='description'>
      Height and weight are common clinical factors. Individuals with more body mass will require more warfarin.
    </div>
    <textarea id='height-textarea' rows='1' cols='6'></textarea>
    <span id='height_units' class='setting'>
      <input type='radio' id='cm' name='height_units' checked/>
      <label for='cm'>cm</label>
      <input type='radio' id='in' name='height_units' />
      <label for='in'>in</label>
    </span>
    <span id='please-enter-height' title='Please Enter Your Height' class='required hidden'>
      Please enter your height.
    </span>
    
    <h3>Weight</h3>
    <textarea id='weight-textarea' rows='1' cols='6'></textarea>
    <span id='weight_units' class='setting'>
      <input type='radio' id='kg' name='weight_units' checked/>
      <label for='kg'>kg</label>
      <input type='radio' id='lbs' name='weight_units' />
      <label for='lbs'>lbs</label>
    </span>
      <span id='please-enter-weight' title='Please Enter Your Weight' class='required hidden'>
        Please enter your weight.
      </span>
      <br/>
      
      <h3>Race</h3>
      <div class='description'>
        Not all genetic factors for warfarin dosing are known.
        Race can still encapsulate these residual genetic factors.
      </div>
      <div id='race' class='setting'>
        <input type='radio' id='race_asian' name='race' />
        <label for='race_asian'>Asian</label>
        <input type='radio' id='race_black' name='race' />
        <label for='race_black'>Black</label>
        <input type='radio' id='race_white' name='race' />
        <label for='race_white'>White</label>
        <input type='radio' id='race_other' name='race' />
        <label for='race_other'>Mixed/Other</label>
        <span id='please-select-race' title='Please Select Your Race' class='required hidden'>
          Please select your race.
        </span>
      </div>
      
      <h3>Are you taking any of these enzyme inducers
      <br/>(carbamazepine, phenytoin, rifampin, or rifampicin)?</h3>
      <div class='description'>
        These drugs induce Cytochrome P450 enzymes, which metabolize warfarin.
        Inducing these drugs will require additional warfarin.
      </div>
      <div id='enzyme' class='setting'>
        <input type='radio' id='enzyme_yes' name='enzyme' />
        <label for='enzyme_yes'>Yes</label>
        <input type='radio' id='enzyme_no' name='enzyme' />
        <label for='enzyme_no'>No</label>
        <span id='please-select-enzyme' title='Please Select Your Enzyme Inducer Status' class='required hidden'>
          Please select whether you are taking any enzyme inducers.
        </span>
      </div>
      
      <h3>Are you taking amiodarone?</h3>
      <div class='description'>
        Amiodarone is an important interacting drug with warfarin.
        Individuals taking amiodarone should take less warfarin.
      </div>
      <div id='amiodarone' class='setting'>
      <input type='radio' id='amiodarone_yes' name='amiodarone' />
      <label for='amiodarone_yes'>Yes</label>
      <input type='radio' id='amiodarone_no' name='amiodarone' />
      <label for='amiodarone_no'>No</label>
      <span id='please-select-amiodarone' title='Please Select Your Amiodarone Status' class='required hidden'>
        Please select whether you are taking any amiodarone.
      </span>
      </div>
      <br />
      <button id='warfarin-dose' type='submit'>
        Calculate my Warfarin Dose
      </button>
    </div>
    <br />
    <div id='table-options'>
      <button id='submit-doses' type='submit'>
        Submit my Warfarin Doses
      </button>
      <button id='clear-snps' type='submit'>
        Clear Table
      </button>
    </div>
    <div id='warfarin-vis'>
      
      <div id='warfarin-graph-table'>
      </div>
    </div>
    <table id='warfarin-table' class='results-table hidden'>
      <tr>
        <th>Feature</th>
        <td class="line"><td/>
        <th>Multiplier</th>
        <th>Personal Factor</th>
        <th>Running Total</th>
        <td class="line"><td/>
        <th>Multiplier</th>
        <th>Personal Factor</th>
        <th>Running Total</th>
      </tr>
      <script id='warfarin-dose-template' type='text/template'>
        <tr><td><%= feature %></td><td class="line"><td/><td><%= clinical_multiplier %></td><td><%= clinical_value %></td><td><%= clinical_total %></td>
        <td class="line"><td/><td><%= genetic_multiplier %></td><td><%= genetic_value %></td><td><%= genetic_total %></td></tr>
      </script>
    </table>
  <div id='confirm-submit-doses' title='Submit your Doses?' class='hidden'>
    Are you sure you want to submit your warfarin doses?
  </div>
</div>

<div class='help'>
  <h2>Warfarin</h2>
  Warfarin is an anticoagulant prescribed to millions of patients in the United States, with over 30 million prescriptions filled per year.
  However, the drug has a very narrow therapeutic range:
  too much of the drug can cause hemorrhaging, while too little will not have the desired effect in preventing blood clots.
  Clinicians often begin with an "educated guess" dose and adjust the dose based on the patient's INR (International Normalized Ratio).
  Choosing the best possible "guess" dose can avoid repeated hospital visits and save lives.
  <br/><br/>
  This utility calculates an optimal starting dose of warfarin, using a clinical and pharmacogenetic algorithm.
  These are based on a well-established <a href='http://www.nejm.org/doi/full/10.1056/NEJMoa0809329'>calculator</a>
  (using the two major genetic components, VKORC1 and CYP2C9)
  as well as an <a href='http://www.ncbi.nlm.nih.gov/pubmed/20442691?dopt=AbstractPlus'>extension</a>
  (which includes CYP4F2).
  <br/><br/>
  Each factor has a multiplier associated with it, derived from a linear regression model.
  In the table on the left, the cumulative total is shown, multiplying your personal factor by the multiplier.
  The final total is squared to compute your predicted starting dose.
  (In the extension, an additional multiplier is added to the dose generated by the genetic calculator).
  <br/><br/>
  The resulting doses are <i>intended only as a guide</i> based on genetic and clinical factors.
  Individuals already taking warfarin should <strong>not</strong> adjust their dose based on these results.
  Actual doses (starting and final) can only be decided by a physician.
  Consult your physician with questions and concerns.
</div>

<br class='clear' />