/* CSS Document */
/*
#======================  FONTS  =========================================
# font-verdana.css
# 
# part of the Triad skin for Pmwiki
#========================================================================*/
/*======= Master font sizes =========*/
#content  { font-size: 90%; }
#rightbar { font-size: 75%; }
#sidebar  { font-size: 75%; }
#header   { font-size: 90%; }
#topnav   { font-size: 75%; }
#footnav  { font-size: 75%; }
#footer   { font-size: 75%; }
#titlebar { font-size: 90%; }
/*=============================*/
/* main font */
body { font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; }

/*monospaced (code) font */
   code, pre { font-family: "Lucida Console", monospace; }

   
textarea { font-size: 1.0em; }
.inputbox {  font-weight:500; }

#header h1, #header h2, #header h3, 
#header h4, #header h5, #header h6 { 
		font-weight:500; margin:0 2px 2px 0;
		line-height:100%; 
		 }
		
.pagegroup { font-weight:600; }
		
/* headings */	
#content h1, #content h2, #content h3, 
#content h4, #content h5, #content h6,
#titlebar h1, #titlebar h2, #titlebar h3, 
#titlebar h4, #titlebar h5, #titlebar h6 { 
		font-weight:500; 
		line-height:133%; 
		}
#content h1, #titlebar h1 { font-size:2.1em; font-weight:500;}
#content h2, #titlebar h2 { font-size:1.9em; border-bottom:1px solid; margin-bottom:0.2em;  }
#content h3, #titlebar h3 { font-size:1.5em; margin-bottom:0.2em;}
#content h4, #titlebar h4 { font-size:1.3em; font-style:italic;}
#content h5, #titlebar h5 { font-size:1.1em; font-weight:600;  }
#content h6, #titlebar h6 { font-size:1.0em; font-variant:small-caps; font-weight:600;}

#sidebar h1 { font-size:1.1em; font-weight:700; }
#sidebar h2 { font-size:1.05em; font-weight:700; }
#sidebar h3 { font-size:1.0em; font-weight:700; }
#sidebar h4 { font-size:1.1em; font-weight:700; }
#sidebar h5 { font-size:1.05em; font-weight:700; }
#sidebar h6 { font-size:1.0em; font-weight:700; }
p.sidehead { font-size:1.1em; font-weight:700; }

#rightbar h1 { font-size:1.5em }
#rightbar h2 { font-size:1.4em; border-bottom:1px solid}
#rightbar h3 { font-size:1.3em }
#rightbar h4 { font-size:1.2em }
#rightbar h5 { font-size:1em }
#rightbar h6 { font-size:1em; font-variant:small-caps;}
* html #rightbar { line-height:1.2em; }
