<div id='assimes_cad_chart'>
  You have <strong><span id='assimes_cad_count'></span></strong> out of <span id='assimes_cad_total'></span> Coronary Artery Disease risk alleles.
</div>
<br/>
<br/>
<table id='assimes_cad_table' class='results-table hidden'>
  <thead>
  <tr>
    <th class='dbsnp'>dbSNP</th>
    <th class='dbsnp'>Genotype</th>
    <th class='risk_allele'>Risk</th>
    <th class='risk_freq'>Risk frequency</th>
    <th class='genes'>Genes</th>
    <th class='odds_ratio'>OR</th>
    <th class='imputed'>Imputed From</th>
    <th class='rsq'>R<sup>2</sup></th>
  </tr>
  </thead>
  <tbody>
  <script id='assimes_cad_template' type='text/template'>
    <tr>
      <td class='key'><%= dbsnp %></td>
      <td class='value'><%= genotype %></td>
      <td><%= risk_allele %></td>
      <td><%= risk_freq %></td>
      <td><%= genes %></td>
      <td><%= or %></td>
      <td class='imputed'><%= imputed_from %> <%= explain %></td>
      <td class='rsq'><%= r_squared %></td>
    </tr>
  </script>
  </tbody>
</table>