<div>
  <span id='man' class='left_third'>
    <img src='/media/graphics/man.jpg' width='200'>
  </span>
  <span id='neandertal_chart' class='middle_third'>
  </span>
  <span id='neandertal-image' class='right_third'>
    <img src='/media/graphics/neandertal.jpg' width='200'>
  </span>
</div>
<br/>
<table id='neandertal_table' class='results-table hidden'>
  <tr>
    <th>dbSNP</th>
    <th>Derived Allele</th>
    <th>Ancestral Allele</th>
    <th>Out of Africa Allele</th>
    <th>Genotype</th>
    <th>Count</th>
  </tr>
  <script id='neandertal_template' type='text/template'>
    <tr>
      <td><%= dbsnp %></td>
      <td><%= derived_allele %></td>
      <td><%= ancestral_allele %></td>
      <td><%= out_of_africa_allele %></td>
      <td><%= genotype %></td>
      <td><%= count %></td>
    </tr>
  </script>
</table>