<table id='tang_ancestry_table' class='results-table hidden'>
  <tr>
    <th class='dbsnp'>dbSNP</th>
    <th class='dbsnp'>Genotype</th>
    <th class='euro_allele'>European allele</th>
    <th class='azn_allele'>East Asian allele</th>
    <th class='imputed'>Imputed From</th>
    <th class='rsq'>R<sup>2</sup></th>
  </tr>
  <script id='tang_ancestry_template' type='text/template'>
    <tr>
      <td class='key'><%= dbsnp %></td>
      <td class='value'><%= genotype %></td>
      <td><%= euro_allele %></td>
      <td><%= azn_allele %></td>
      <td class='imputed'><%= imputed_from %> <%= explain %></td>
      <td class='rsq'><%= r_squared %></td>
    </tr>
  </script>
</table>