<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>RSID Browser</title>
    <meta charset='utf-8'/>

    <link rel='stylesheet' type='text/css' 
      href='/media/css/interpretome.css'>
      
    <link rel='stylesheet' type='text/css' 
      href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/flick/jquery-ui.css' />

    <script type='text/javascript' 
      src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js'></script>
      
    <script type='text/javascript' 
      src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js'></script>
      
    <script type='text/javascript'
      src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>
      
    <script type='text/javascript' src='/media/js/model/user.js'></script>
    <script type='text/javascript' src='/media/js/tmpl.js'></script>
    
    <script>
      // Global user.
      var user;
      $(document).ready(function() {$.getScript('/media/js/ready.js');});
    </script>
  </head>
  <body>
    <div id='wrap'>
      <div id='header'>
        <div id='header-text'>
          Analyze Me
        </div>
        <div id='status'>
          No genome loaded
        </div>
        <br class="clear" />
      </div>
      <div id='tabs'>
        <ul>
          <li>
            <a href='#start'>Start</a>
          </li>
          <li>
            <a href='#lookup'>Lookup</a>
          </li>
        </ul>
        
        <div id='start'></div>
        
        <div id='lookup'></div>
        
      </div>
      <div id='footer'>
        &copy; 2011 Karczewski, Tatonetti, <b>Tirrell</b> and Zimmerman
      </div>
    </div>
  </body>
</html>
