<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang='en'>
  <head>
    <title>Interpretome</title>
    <meta charset='utf-8'/>
    <meta property="og:title" content="Interpretome" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.interpretome.com" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="Interpretome" />
    <meta property="fb:admins" content="678649016" />

    <link rel='stylesheet' type='text/css' href='/media/css/interpretome.css'>

    <link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/flick/jquery-ui.css' />

    <script type='text/javascript' src='/media/js/utils/jquery-1.7.1.min.js'>
    </script>
    <script type='text/javascript' src='/media/js/utils/jquery-ui.min.js'>
    </script>
    <script type='text/javascript' src='/media/js/utils/jquery.tmpl.min.js'>
    </script>
    <script type="text/javascript" src="/media/js/jquery/jquery.tablesorter.min.js"></script>
    <script type='text/javascript' src='/media/js/utils/underscore-min.js'>
    </script>
    <script type='text/javascript' src='/media/js/utils/backbone-min.js'>
    </script>
    <script type="text/javascript" src='/media/js/jquery/theme_switcher_tool.js'>
    </script>
    <script type="text/javascript" src='/media/js/figue-read-only/figue.js'>
    </script>
    <!-- Models. -->
    <script type='text/javascript' src='/media/js/model/user.js'>
    </script>
    <script type='text/javascript' src='/media/js/model/custom_exercise.js'>
    </script>
    <!-- Controllers. -->
    <script type='text/javascript' src='/media/js/controller/app.js'>
    </script>
    <!-- Views. -->
    <script type='text/javascript' src='/media/js/view/app.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/start.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/lookup.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/explore.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/disease.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/diabetes.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/warfarin.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/pharmacogenomics.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/similarity.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/pca.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/painting.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/family.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/bingo.js'>
    </script>
    <script type='text/javascript' src='/media/js/interpretome.js'>
    </script>
    <script type='text/javascript' src='/media/js/sylvester.js'>
    </script>
    <script type='text/javascript' src='/media/js/highcharts_2.2.0.js'>
    </script>
    <script type='text/javascript' src='/media/js/jmol/Jmol.js'>
    </script>
    <!--<script type='text/javascript' src='/media/js/canvas_image/canvas2image.js'>-->
    <!--</script>-->
    <!--<script type='text/javascript' src='/media/js/canvas_image/base64.js'>-->
    <!--</script>-->
    <!--<script type='text/javascript' src='/media/js/canvas_image/html2canvas.min.js'>-->
    <!--</script>-->
    <!--<script type='text/javascript' src='/media/js/canvas_image/jquery.plugin.html2canvas.js'>-->
    <!--</script>-->
    <!--<script type="text/javascript"-->
    <!--  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCVa-mkXhJMpBiAzRZoM3xWHPY-ye8YwwA&sensor=false">-->
    <!--</script>-->
    <script type="text/javascript" src="https://www.google.com/jsapi?key=AIzaSyCVa-mkXhJMpBiAzRZoM3xWHPY-ye8YwwA">
    </script>
    <script type="text/javascript">
      google.load('visualization', '1', {'packages': ['corechart', 'gauge']});
    </script>
    <script type='text/javascript'>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6331436-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <div id="fb-root"></div>
    <script>
        FB.init({
          appId  : '202447703131966',
          status : true, // check login status
          cookie : true, // enable cookies to allow the server to access the session
          xfbml  : true  // parse XFBML
        });
    </script>
    <script type="text/javascript" src="http://tweet-it.st.pongsocket.com/tweet-it.js"></script>
    <!--<script src="http://platform.twitter.com/anywhere.js?id=KN9SuYKrqtJKHl5kGQ&v=1" type="text/javascript"></script>-->
  </head>
  <body>
    <div id='wrap'>
      <div id='header'>
        <br/>
        <div id='title'>
          Interpretome
        </div>
        <div id='global-settings'>
          <div id='user-settings' class='stack'>
            <div id='loading-genome' title='Loading' class='dialog hidden'>
              Please be patient. This may take a few moments.
              <br/>
              <br/>
              <strong>Loading</strong>:
              <div id='loading-bar' class='progress-bar'>
              </div>
              <br/>
              <strong>Parsing</strong>: <span id='snps-loaded'>0</span> SNPs
              <div id='parsing-bar' class='progress-bar'>
              </div>
            </div>
            <div id='please-load-genome' title='Load your genome' class='dialog hidden'>
              Please load your genome first.
              <br>
              <br>
              <input id='genome-file' multiple type='file' name='file' />
            </div>
            <div class='setting'>
              <span id='genome' class='stack'>
                <button id='open-confirm-dialog' class='setting-label'>
                  Begin exploring!
                </button>
              </span>
              <span id='advanced'>
                <button id='advanced-settings' type='submit' class='small-button hidden'>
                  Advanced Settings
                </button>
                <button id='add-genome' type='submit' class='small-button'>
                  Add add'l genome
                </button>
                <br/>
                <br/>
                <label for='genome-analysis' class='setting-label'>
                  Genome:
                </label>
               <select id='genome-analysis' name='genome-analysis'>
               </select>
                <button id='clear-genome' class='small-button hidden'>
                  Clear this genome
                </button>
              <br/>
              <br/>
                <div id='population-setter'>
                 <label for='toolbar-population' class='setting-label'>
                  <span id='pre-population-selection'>
                    Select your population:
                  </span>
                  <span id='post-population-selection' class='hidden'>
                    Population:
                  </span>
                 </label>
                 <select id='toolbar-population' name='population'>
                   <!--
                   I don't like having to copy and paste,
                   but these should always be the same as above.
                   -->
    
                   <option id='dummy-2' value="null">Select a population</option>
                   <option value="CEU">European</option>
                   <option value="YRI">African</option>
                   <option value="CHB">Chinese</option>
                   <option value="JPT">Japanese</option>
                   <option value="null">--------</option>
                   <option value="ASW">African-American (Southwest)</option>
                   <option value="CHD">Chinese (Denver)</option>
                   <option value="GIH">Guajarti Indian (Houston)</option>
                   <option value="LWK">Lukya (Kenya)</option>
                   <option value="MEX">Mexican (Los Angeles)</option>
                   <option value="MKK">Maasai (Kenya)</option>
                   <option value="TSI">Toscans (Italy)</option>
                 </select>
                </div>
              </span>
              <div id='confirm-dialog' title='Confirm Terms' class='dialog hidden'>
                <h3>Interpretome is intended for <i>educational and research purposes only</i>.</h3>
                <p>
                  No information should be considered diagnostic and as with any genetic testing service, the interpretation is not regulated by the FDA.
                  We assume no responsibility for any injury or damage to persons or property arising out of or related to any use of interpretome annotations
                  or for any errors or omissions: consult your physician with any medical concerns.
                  We retain copyright to the materials herein.
                  By using this website, you agree that you accept these terms and are aware of the risks and benefits of genome interpretation
                  and that you accept the full
                  <span class='link' onclick='$("#terms").dialog({
                    modal: true, width: "80%", buttons: {
                      "Close": function() {$(this).dialog("close");}
                    }});'>Terms and Conditions</span>.
                <br/>
                <br/>
                Please feel free to <a href='mailto:help@interpretome.com'>email us</a> with questions, comments, or concerns.
                <br/>
                <br/>
                <input id='terms-remembered' type='checkbox'> Remember me (will not prompt for Terms again for 30 days)
                <br/>
                <br/>
                <button id='open-load-genome-dialog' class='setting-label'>
                  Begin exploring!
                </button>
              </div>
              <div id='load-genome-dialog' title='Load your Genome' class='dialog'>
                <h3>Please load your genotype file</h3>
                For genotype files, please load an unzipped .txt file.
                <br/>
                At this time, only raw files from 23andme and Lumigenix are supported natively.
                <br/>
                <br/>
                <div class='left_short'>
                File type:
                <br/>
                Name this genome:
                <br/>
                File:
                <br/>
                <span style='font-size: medium' class='link' onclick='$("#terms").dialog({
                  modal: true, width: "80%", buttons: {
                    "Close": function() {$(this).dialog("close");}
                  }});'>
                  Terms and Conditions
                </span>
                </div>
                <div class='right_long'>
                <select id='file-format' name='file-format'>
                  <option value="genotype">Genotype</option>
                  <option value="exome">Full Exome (coming soon!)</option>
                  <!--<option value="genome">Full Genome (coming soon!)</option>-->
                </select>
                <!--For full exome or genome files, please load a VCF file (experimental).-->
                <!--<br/>-->
                <!--<br/>-->
                <br/>
                <textarea id='genome-name' rows='1' cols='16'></textarea>
                <i>(optional)</i> (useful for analysis of multiple genomes)
                <br/>
                <span id='genome-file-wrap'>
                  <input id='genome-file' type='file' multiple name='file' />
                </span>
                <br/><br/>
                <div id='dropbox' class='box'>
                  Or drag your file here.
                </div>
                </div>
                <br/>
              </div>
            </div>
            <div id='confirm-clear-genome' title='Clear your genome?' class='hidden'>
              Are you sure you want to end your session?
            </div>
          </div>
          <div id='population' class='stack'>
            <div id='please-select-population' title='Select your population' class='dialog hidden'>
              Please select your population first.
              <select id='check-population' name='population'>
                <option id='dummy' value="null">Select a population</option>
                <option value="CEU">European</option>
                <option value="YRI">African</option>
                <option value="CHB">Chinese</option>
                <option value="JPT">Japanese</option>
                <option value="null">--------</option>
                <option value="ASW">African-American (Southwest)</option>
                <option value="CHD">Chinese (Denver)</option>
                <option value="GIH">Guajarti Indian (Houston)</option>
                <option value="LWK">Lukya (Kenya)</option>
                <option value="MEX">Mexican (Los Angeles)</option>
                <option value="MKK">Maasai (Kenya)</option>
                <option value="TSI">Toscans (Italy)</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <br class='clear' />
        <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook"></a>
          <a class="addthis_button_twitter"></a>
          <a class="addthis_button_email"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e0588ec6e728d54"></script>

      <div id='tabs'>
        <ul>
          <span style='float:left' class='module_selection' class='setting'>
            <input type='radio' id='module_start' name='module_selection'/>
            <label for='module_start'>
              Start
            </label>&nbsp;
            <input type='radio' id='module_lookup' name='module_selection'/>
            <label for='module_lookup'>
              Lookup
            </label>&nbsp;
            <input type='radio' id='module_explore' name='module_selection'/>
            <label for='module_explore'>
              Explore
            </label>&nbsp;
            <input type='radio' id='module_clinical' name='module_selection'/>
            <label for='module_clinical'>
              Clinical
            </label>&nbsp;
            <input type='radio' id='module_ancestry' name='module_selection'/>
            <label for='module_ancestry'>
              Ancestry
            </label>&nbsp;
            <span id='module-arrow' style='display: none'>&#x2192;</span>
          </span>
          <span style='float:right' class='module_selection' class='setting'>
            <input type='radio' id='module_bingo' name='module_selection' style='right:0px'/>
            <label for='module_bingo' style='right:0px'>
              B(OG)ingo
            </label>
          </span>
          <li class='start'>
            <a href='#start'>Start</a>
          </li>
          <li class='lookup'>
            <a href='#lookup'>Lookup</a>
          </li>
          <li class='explore'>
            <a href='#explore'>Explore</a>
          </li>
          <li class='clinical'>
            <a href='#diabetes'>Diabetes</a>
          </li>
          <li class='clinical'>
            <a href='#disease'>Disease</a>
          </li>
          <li class='clinical'>
            <a href='#warfarin'>Warfarin</a>
          </li>
          <li class='clinical'>
            <a href='#pharmacogenomics'>Pharmacogenomics</a>
          </li>
          <li class='ancestry'>
            <a href='#similarity'>Similarity</a>
          </li>
          <li class='ancestry'>
            <a href='#pca'>PCA</a>
          </li>
          <li class='ancestry'>
            <a href='#painting'>Painting</a>
          </li>
          <!--<li class='ancestry'>-->
          <!--  <a href='#family'>Family</a>-->
          <!--</li>-->
          <li class='bingo'>
            <a href='#bingo'>B(OG)ingo</a>
          </li>
        </ul>
        <div id='start'>
        </div>
        <div id='lookup'>
        </div>
        <div id='explore'>
        </div>
        <div id='disease'>
        </div>
        <div id='diabetes'>
        </div>
        <div id='warfarin'>
        </div>
        <div id='pharmacogenomics'>
        </div>
        <div id='similarity'>
        </div>
        <div id='pca'>
        </div>
        <div id='painting'>
        </div>
        <div id='family'>
        </div>
        <div id='bingo'>
        </div>
      </div>
      <div id='settings' title='Advanced Settings' class='dialog hidden'>

        <div class='advanced-setting'>
          <div class='label left'>
            LD cutoff: r
            <sup>
              2
            </sup> &#x2265; <span id='ld-cutoff-amount'></span>
            <br/>
            <br/>
            Select a theme:
            <br/><br/>
            <div id="fb_buttons">
              <fb:login-button size="small">Login</fb:login-button>
            </div>
            <div id="fb_like">
              <fb:like href="http://www.interpretome.com" send="true" layout="button_count" width="450" show_faces="true" font=""></fb:like>
            </div>
          </div>
          <div class='right'>
            <div id='ld-slider'>
            </div>
            <br/>
            <br/>
            <div id='ThemeRoller'>
            </div>
          </div>
          <br class='clear' />
        </div>
      </div>
      <div id='looking-up' title='Loading' class='dialog hidden'>
        Please be patient. This may take a few moments.
        <br/>
        <br/>
      </div>
      <div id='loading-data' title='Loading' class='dialog hidden'>
        Please be patient. This may take a few moments.
        <br/>
        <br/>
      </div>
      <div id='imputing-lots' title='Imputing' class='dialog hidden'>
        Imputing <span id='imputing-number'></span> SNPs. Please be patient.
        This will take a while.
        <br/>
        <br/>
        <strong>Done</strong>: <span id='snps-imputed'>0</span> SNPs
        <div id='imputing-bar' class='progress-bar'>
        </div>
      </div>
      <div id='confirm-submit-snps' title='Submit your SNPs?' class='hidden'>
        Are you sure you want to submit these SNPs?
      </div>
      <div id='thank-you' title='Thank You' class='dialog hidden'>
        Your information has been submitted.
      </div>
      <div id='nothing' title='Oops' class='dialog hidden'>
        Nothing was submitted.
      </div>
      <div id='footer'>
        &copy; 2011-2012 Karczewski, Tirrell, Kim, and the Interpreteam
        <br />
        <span class='link' onclick='$("#terms").dialog({
          modal: true, width: "80%", buttons: {
            "Close": function() {$(this).dialog("close");}
          }});'>
          Terms and Conditions
        </span>
	      <div id='terms' title='Terms and Conditions' class='dialog hidden'>
	        <h3>Interpretome is intended for <i>educational and research purposes only</i>.</h3>
	        <p>
	          No information should be considered diagnostic and as with any genetic testing service, the interpretation is not regulated by the FDA.
	          We assume no responsibility for any injury or damage to persons or property arising out of or related to any use of interpretome annotations
	          or for any errors or omissions: consult your physician with any medical concerns.
	          We retain copyright to the materials herein.
	          By using this website, you agree that you accept these terms and are aware of the risks and benefits of genome interpretation.
	        </p>
          <br/>
          <p>
            Recipients acknowledge that this distribution is made available as a 
            research courtesy, "as is", potentially with defects, without any obligation 
            on the part of The Board of Trustees of the Leland Stanford Junior 
            University or the developers and authors of the website to provide support, services, or repair.
            THE BOARD OF TRUSTEES OF THE LELAND STANFORD JUNIOR UNIVERSITY AND THE DEVELOPERS
            AND AUTHORS OF THE WEBSITE DISCLAIM ALL 
            WARRANTIES, EXPRESS OR IMPLIED, WITH REGARD TO THIS SOFTWARE, INCLUDING 
            WITHOUT LIMITATION ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR 
            A PARTICULAR PURPOSE, AND IN NO EVENT SHALL THE BOARD OF TRUSTEES OF THE 
            LELAND STANFORD JUNIOR UNIVERSITY OR THE DEVELOPERS
            AND AUTHORS OF THE WEBSITE DISCLAIM BE LIABLE FOR ANY SPECIAL, INDIRECT OR 
            CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, 
            DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, TORT (INCLUDING 
            NEGLIGENCE) OR STRICT LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE 
            USE OR PERFORMANCE OF THIS SOFTWARE.
          </p>
	        <br/>
	        <h3>How are my data kept private?</h3>
	        <p>
	          Your genome will not be sent to any server, it remains on your computer.
	          This website will make requests to a database that only contain "rsid" (without genotypes) and "population" (self-reported in the top-right) information.
	          At no point will any genotypes be sent across the wires (all computation will be done in the browser).
	        </p>
	        <br>
	        <p>
	          Some exercises may have an option to submit personal information, including genotypes or results of analyses.
	          Entry of your data is not required and all information will be anonymously stored on a secure server.
	          However, there is a theoretical possibility that this information can be intercepted and misused.
	          If you are accessing this site on an unecrypted WiFi network, any party may observe the data sent over the connection.
	        </p>
	        <br/>
	        Please feel free to <a href='mailto:help@interpretome.com'>email us</a> with questions, comments, or concerns.
	      </div>
	    </div>
    </div>
  </body>
</html>
