<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Analyze Me</title>
    <meta charset='utf-8'/>

    <link rel='stylesheet' type='text/css' href='/media/css/interpretome.css'>

    <link rel='stylesheet' type='text/css'
    href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/flick/jquery-ui.css' />

    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js'>
    </script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js'>
    </script>
    <script type='text/javascript' src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'>
    </script>
    <script type='text/javascript' src='http://documentcloud.github.com/underscore/underscore-min.js'>
    </script>
    <script type='text/javascript' src='http://documentcloud.github.com/backbone/backbone.js'>
    </script>
    <script type="text/javascript" src="http://jqueryui.com/themeroller/themeswitchertool/">
    </script>
    <!-- Models. -->
    <script type='text/javascript' src='/media/js/model/user.js'>
    </script>
    <script type='text/javascript' src='/media/js/model/custom_exercise.js'>
    </script>
    <!-- Controllers. -->
    <script type='text/javascript' src='/media/js/controller/app.js'>
    </script>
    <!-- Views. -->
    <script type='text/javascript' src='/media/js/view/app.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/start.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/terms.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/lookup.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/explore.js'>
    </script>
    
    <script type='text/javascript' src='/media/js/view/disease.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/diabetes.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/warfarin.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/pharmacogenomics.js'>
    </script>
    
    <script type='text/javascript' src='/media/js/view/similarity.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/pca.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/painting.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/family.js'>
    </script>
    
    <script type='text/javascript' src='/media/js/interpretome.js'>
    </script>
    <script type='text/javascript' src='/media/js/sylvester.js'>
    </script>
    <script type='text/javascript' src='/media/js/highcharts.js'>
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi">
    </script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1', {'packages': ['corechart']});
    </script>
    <script type='text/javascript'>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6331436-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id='wrap'>
      <div id='header'>
        <div id='title'>
          Interpretome
        </div>
        <div id='global-settings'>

          <div id='user-settings' class='stack'>
            <div id='loading-dialog' title='Loading' class='dialog hidden'>
              Please be patient. This may take a few moments.
              <br/>
              <br/>
              <strong>Loading</strong>:
              <div id='loading-bar' class='progress-bar'>
              </div>
              <br/>
              <strong>Parsing</strong>: <span id='snps-loaded'>0</span> SNPs
              <div id='parsing-bar' class='progress-bar'>
              </div>
            </div>
            <div id='please-load-genome' title='Load your genome' class='dialog hidden'>
              Please load your genome first.
              <br>
              <br>
              <input id='genome-file' type='file' name='file' />
            </div>
            <div class='setting'>
              <span id='genome' class='stack'>
              <label for='genome-file' class='setting-label'>
                Load your genome
              </label>
              <input id='genome-file' type='file' name='file' />
              </span>
              <span id='advanced'>
                <!--<span id='full-genome-bar'>-->
                <!--  <input type='checkbox' id='full-genome'><label for="full-genome">Full Genome</label>-->
                <!--</span>-->
                <button id='advanced-settings' type='submit' class='small-button hidden'>
                  Advanced Settings
                </button>
                <button id='clear-genome' class='small-button hidden'>
                  Clear my information
                </button>
              </span>
            </div>
            <div id='confirm-clear-genome' title='Clear your genome?' class='hidden'>
              Are you sure you want to end your session?
            </div>
          </div>
          <div id='population' class='stack'>
            <div id='please-select-population' title='Select your population' class='dialog hidden'>
              Please select your population first.
              <select id='check-population' name='population'>
                <option id='dummy' value="null">Select a population</option>
                <option value="CEU">European</option>
                <option value="YRI">African</option>
                <option value="CHB">Chinese</option>
                <option value="JPT">Japanese</option>
                <option value="null">--------</option>
                <option value="ASW">African-American (Southwest)</option>
                <option value="CHD">Chinese (Denver)</option>
                <option value="GIH">Guajarti Indian (Houston)</option>
                <option value="LWK">Lukya (Kenya)</option>
                <option value="MEX">Mexican (Los Angeles)</option>
                <option value="MKK">Maasai (Kenya)</option>
                <option value="TSI">Toscans (Italy)</option>
              </select>
            </div>
            <form>
              <label for='toolbar-population' class='setting-label'>
                Select your population
              </label>
              <select id='toolbar-population' name='population'>
                <!--
                I don't like having to copy and paste,
                but these should always be the same as above.
                -->

                <option id='dummy-2' value="null">Select a population</option>
                <option value="CEU">European</option>
                <option value="YRI">African</option>
                <option value="CHB">Chinese</option>
                <option value="JPT">Japanese</option>
                <option value="null">--------</option>
                <option value="ASW">African-American (Southwest)</option>
                <option value="CHD">Chinese (Denver)</option>
                <option value="GIH">Guajarti Indian (Houston)</option>
                <option value="LWK">Lukya (Kenya)</option>
                <option value="MEX">Mexican (Los Angeles)</option>
                <option value="MKK">Maasai (Kenya)</option>
                <option value="TSI">Toscans (Italy)</option>
              </select>
            </form>
          </div>
        </div>
        

      </div>
      <br class='clear' />
        <span class='tooltip hidden' id='full-genome-tooltip'>
          Check here if your file is a full genome
          <br/>
          (sites not indicated will be assumed "reference").
        </span>
      <div id='tabs'>
        <ul>
          <span style='float:left' class='module_selection' class='setting'>
            <input type='radio' id='module_start' name='module_selection'/>
            <label for='module_start'>
              Start
            </label>&nbsp;
            <input type='radio' id='module_lookup' name='module_selection'/>
            <label for='module_lookup'>
              Lookup
            </label>&nbsp;
            <input type='radio' id='module_explore' name='module_selection'/>
            <label for='module_explore'>
              Explore
            </label>&nbsp;
            <input type='radio' id='module_clinical' name='module_selection'/>
            <label for='module_clinical'>
              Clinical
            </label>&nbsp;
            <input type='radio' id='module_ancestry' name='module_selection'/>
            <label for='module_ancestry'>
              Ancestry
            </label>&nbsp;
            <span id='module-arrow' style='display: none'>&#x2192;</span>
          </span>
          <li class='start'>
            <a href='#start'>Start</a>
          </li>
          <li class='lookup'>
            <a href='#lookup'>Lookup</a>
          </li>
          <li class='explore'>
            <a href='#explore'>Explore</a>
          </li>
          
          <li class='clinical'>
            <a href='#diabetes'>Diabetes</a>
          </li>
          <li class='clinical'>
            <a href='#disease'>Disease</a>
          </li>
	        <li class='clinical'>
            <a href='#warfarin'>Warfarin</a>
          </li>
	        <li class='clinical'>
            <a href='#pharmacogenomics'>Pharmacogenomics</a>
          </li>
          
          <li class='ancestry'>
            <a href='#similarity'>Similarity</a>
          </li>
          <li class='ancestry'>
            <a href='#pca'>PCA</a>
          </li>
          <li class='ancestry'>
            <a href='#painting'>Painting</a>
          </li>
          <!--<li class='ancestry'>-->
          <!--  <a href='#family'>Family</a>-->
          <!--</li>-->
          <span style='float: right' class='module_selection setting'>
          <input type='radio' id='module_terms' name='module_selection'/>
            <label for='module_terms'>
              Terms
            </label>
          </span>
          <li class='terms'>
            <a href='#terms'>Terms and Conditions</a>
          </li>
        </ul>
        <div id='start'>
        </div>
        <div id='lookup'>
        </div>
        <div id='explore'>
        </div>
        <div id='disease'>
        </div>
        <div id='diabetes'>
        </div>
        <div id='warfarin'>
        </div>
        <div id='pharmacogenomics'>
        </div>
        <div id='similarity'>
        </div>
        <div id='pca'>
        </div>
        <div id='painting'>
        </div>
        <div id='family'>
        </div>
        
        <div id='terms'>
        </div>
      </div>
      <div id='settings' title='Advanced Settings' class='dialog hidden'>
        
        <div class='advanced-setting'>
	        <div class='label left'>
	          LD cutoff: r<sup>2</sup> &#x2265 <span id='amount'></span>
            <br/>
            <br/>
            Select a theme:
	        </div>
	        
	        <div class='right'>
		        <div id='ld-slider'></div>
            <br/>
            <br/>
            <div id="ThemeRoller"></div>
		      </div>
          
			    <br class='clear' />
		    </div>
      </div>
      
      
      <div id='looking-up' title='Loading' class='dialog hidden'>
        Please be patient. This may take a few moments.
        <br/>
        <br/>
      </div>
      <div id='imputing-lots' title='Imputing' class='dialog hidden'>
        Imputing <span id='imputing-number'></span> SNPs. Please be patient.
        This will take a while.
        <br/>
        <br/>
        <strong>Done</strong>: <span id='snps-imputed'>0</span> SNPs
        <div id='imputing-bar' class='progress-bar'>
        </div>
      </div>
      <div id='confirm-submit-snps' title='Submit your SNPs?' class='hidden'>
        Are you sure you want to submit these SNPs?
      </div>
      <div id='thank-you' title='Thank You' class='dialog hidden'>
        Your information has been submitted.
      </div>
      <div id='nothing' title='Oops' class='dialog hidden'>
        Nothing was submitted.
      </div>
      <div id='footer'>
        &copy; 2011 Karczewski, Tatonetti, Tirrell and Zimmerman
      </div>
    </div>
  </body>
</html>
